.button-container {
  .button {
    font-weight: bold;
    display: block;
    background-color: orange;
    color: rgb(255, 255, 255, 0.85);
    padding: 0.3rem 1rem;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: rgb(255, 165, 0, 0.8);
      box-shadow: 1px 2px 2px rgb(0, 0, 0, 0.3);
      transform: translateY(-2px);
      transition: transform 0.2s ease-out;
    }
    &:active {
      transform: translateY(0);
    }
  }

  .sign-in {
    background-color: black;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 15px;
    width: 100%;
    box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.3);
    margin-top: 20px;

    &:hover {
      transform: translateY(-2px);
      transition: transform 0.2s ease-out;
    }
    &:active {
      transform: translateY(0);
    }
  }
}

/*
.button-container {
  .button {
    font-weight: bold;
    background-color: orange;
    color: rgb(255, 255, 255, 0.85);
    padding: 0.3rem 1rem;
    // width: 80%;
    // margin: 0 auto;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: rgb(255, 165, 0, 0.8);
      box-shadow: 1px 2px 2px rgb(0, 0, 0, .3);
      transform: translateY(-2px);
      transition: transform .2s ease-out;
    }
    &:active{
      transform: translateY(0);
    }
  }

  .sign-in{
    background-color: black;
    border:none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 15px;
    width: 100%;
  }
  &:hover {
      box-shadow: 1px 2px 2px rgb(0, 0, 0, .3);
      transform: translateY(-2px);
      transition: transform .2s ease-out;
    }
    &:active{
      transform: translateY(0);
    }
}

*/
