.sign-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  .content {
    border: 1px solid;
    padding: 10px;
    h3 {
      text-align: center;
    }
    .form {
      width: 70%;
      margin: 2rem auto;
      input {
        width: 100%;
      }
    }
  }
}
